<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>CSS3 Animation</span>
</div>

<div class="content">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Scale">
      <div class="wrap">
        <div class="item" [scaleShow]="500">item 1</div>
        <div class="item" [scaleShow]="600">item 2</div>
        <div class="item" [scaleShow]="700">item 3</div>
        <div class="item" [scaleShow]="800">item 4</div>
        <div class="item" [scaleShow]="900">item 5</div>
        <div class="item" [scaleShow]="1000">item 6</div>
        <div class="item" [scaleShow]="1100">item 7</div>
        <div class="item" [scaleShow]="1200">item 8</div>
        <div class="item" [scaleShow]="1300">item 9</div>
      </div>
    </mat-tab>
    <mat-tab label="Widen">
      <div class="wrap">
        <div class="item" [widenShow]="500">item 1</div>
        <div class="item" [widenShow]="600">item 2</div>
        <div class="item" [widenShow]="700">item 3</div>
        <div class="item" [widenShow]="800">item 4</div>
        <div class="item" [widenShow]="900">item 5</div>
        <div class="item" [widenShow]="1000">item 6</div>
        <div class="item" [widenShow]="1100">item 7</div>
        <div class="item" [widenShow]="1200">item 8</div>
        <div class="item" [widenShow]="1300">item 9</div>
      </div>
    </mat-tab>
    <mat-tab label="Rotate">
      <div class="wrap">
        <div class="item" [rotateShow]="500">item 1</div>
        <div class="item" [rotateShow]="600">item 2</div>
        <div class="item" [rotateShow]="700">item 3</div>
        <div class="item" [rotateShow]="800">item 4</div>
        <div class="item" [rotateShow]="900">item 5</div>
        <div class="item" [rotateShow]="1000">item 6</div>
        <div class="item" [rotateShow]="1100">item 7</div>
        <div class="item" [rotateShow]="1200">item 8</div>
        <div class="item" [rotateShow]="1300">item 9</div>
      </div>
    </mat-tab>
    <mat-tab label="Fall">
      <div class="wrap fall">
        <div class="item" [fallShow]="600">item 1</div>
        <div class="item" [fallShow]="750">item 2</div>
        <div class="item" [fallShow]="900">item 3</div>
        <div class="item" [fallShow]="1050">item 4</div>
        <div class="item" [fallShow]="1200">item 5</div>
        <div class="item" [fallShow]="1350">item 6</div>
      </div>
    </mat-tab>
    <mat-tab label="Wave">
      <div class="wrap wave">
        <div class="item" [waveShow]="100">item 1</div>
        <div class="item" [waveShow]="250">item 2</div>
        <div class="item" [waveShow]="400">item 3</div>
        <div class="item" [waveShow]="550">item 4</div>
        <div class="item" [waveShow]="700">item 5</div>
        <div class="item" [waveShow]="850">item 6</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
